<h1>Products</h1>

<table>
    <thead>
    <tr>
        <th>
            <a href="/products?sort=title">Title</a>
        </th>
        <th>
            <a href="/products?sort=brand">Brand</a>
        </th>
        <th>
            <a href="/products?sort=price">Price</a>
        </th>
        <th>
            <a href="/products?sort=final_price">Discounted price</a>
        </th>
        <th>
            <a href="/products?sort=category">Category</a>
        </th>
    </tr>
    </thead>

    <tbody>
    {% for product in products %}
        <tr>
            <td>
                <a href="/products/{{ product.getId() }}">
                    {{ product.getTitle() }}
                </a>
            </td>
            <td>{{ product.getBrand() }}</td>
            <td>€{{ product.getPrice()|number_format(2, '.', ',') }}</td>
            <td>€{{ product.getFinalPrice()|number_format(2, '.', ',') }}</td>
            <td>{{ product.getCategory() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>