<h1>Products</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Discounted price</th>
        <th>Category</th>
    </tr>
    </thead>

    <tbody>
    {% for product in products %}
        <tr>
            <td>
                <a href="/products/{{ product.getId() }}">
                    {{ product.getTitle() }}
                </a>
            </td>
            <td>{{ product.getBrand() }}</td>
            <td>{{ product.getPrice() }}</td>
            <td>{{ product.getFinalPrice()|number_format(2, '.', ',') }}</td>
            <td>{{ product.getCategory() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>